.blog-post {
  .container {
    display: flex;
    height: auto;
    padding: 32px;
    flex-direction: column;
    .socials {
      display: flex;
      // justify-content: flex-end;
      a {
        img {
          width: 45px;
          height: 45px;
          padding: 8px;
          border-radius: 50%;
        }
      }
    }
    .content {
      display: inline-flex ;
      width: 100%;
      min-height: 600px;
      max-height: 900px;

      &-right {
        display: flex;
        width: 30%;
        padding: 16px;
      }
      &-left {
        display: flex;
        width: 65%;
        height: auto;
        position: relative;
        padding: 16px;
        img {
          position: absolute;
          width: 100%;
          min-width: 400px;
          height: 100%;
          
        }

      }
    }
  }
}