.homepage {
  display: block;
  width: 100%;
  height: auto;

  .content {
    display: flex;
    min-height: 500px;
    padding: 32px;
    justify-content: center;
    flex-direction: column;

    .favorites-post, .all-destinations, .unforgettable-experiences {
      padding-bottom: 16px;
      &-title {
        display: flex;
        height: 60px;
        position: relative;
        justify-content: center;
        font-size: 38px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 16px 0px;
      }

      &-wrapper {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        flex-wrap: wrap;
      }
    }

    .favorites-post {
      .img-carousel {
        position: relative;
        width: 425px;
        height: 500px;
        margin: 8px;
        border-radius: 4px;

        p {
          position: relative;
          top: 370px;
          text-align: left;
          font-weight: 700;
          font-size: 20px;
          padding: 0px 16px;

          a {
            text-decoration: none;
            color: #fff;
          }

        }
      }
    }

    .all-destinations {
      &-content {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .main {
          display: flex;
          
          .img-carousel {
            position: relative;
            width: 600px;
            height: 400px;
            margin: 8px;
            border-radius: 4px;
    
            p {
              position: relative;
              text-align: left;
              font-weight: 700;
              font-size: 20px;
              padding: 0px 16px;
              background-color: #fff;
              width: fit-content;
              margin: 16px;
              border-radius: 8px;
    
              a {
                text-decoration: none;
                color: #000;
              }
    
            }
          }

        }
        .sub {
          display: flex;
          flex-wrap: wrap;
          .img-carousel {
            position: relative;
            width: 360px;
            height: 190px;
            margin: 8px;
            border-radius: 4px;
    
            p {
              position: relative;
              text-align: left;
              font-weight: 700;
              font-size: 16px;
              padding: 0px 16px;
              top: 115px;
    
              a {
                text-decoration: none;
                color: #fff;
              }
    
            }
          }
        }
      }

    }

    .unforgettable-experiences {
      .img-carousel {
        position: relative;
        width: 550px;
        height: 400px;
        margin: 8px;
        border-radius: 4px;

        p {
          position: relative;
          text-align: left;
          font-weight: 700;
          font-size: 20px;
          padding: 0px 16px;
          background-color: #fff;
          width: fit-content;
          margin: 16px;
          border-radius: 8px;

          a {
            text-decoration: none;
            color: #000;
          }

        }
      }
    }
 
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

}